{
  "module": {
    "type": "commonjs",
  },
  "minify": true,
  "jsc": {
    "minify": {
      "compress": true
    },
    "parser": {
      "syntax": "typescript",
      "tsx": false
    },
    "target": "es2021",
    "baseUrl": "src",
    "paths": {
      "~/*": ["./*"]
    }
  }
}